html {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    color: lightgray;
}

body {
    background-color: #353638;
}

#container {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    width: auto;
    height: 100px;
    font-size: 16px;
}

#content{
    width: auto;
    margin: auto;
    text-align: center;
}

.title{
    font-size: 32px;
    padding: 40px;
}

nav{
    text-align: center;
}

a:link, a:visited{
    color: lightgray;
    text-decoration: none;
}

a:hover, a:active {
    color:lightgray;
    text-decoration: underline;
    background-color: #53565b;
}

.menuButton{
    font-size: 20px;
    display: inline-block;
    width: 15%;
    padding: 10px;
    margin: 60px 30px 10px 30px;
}

.indexTableDiv{
    height: 200px;
    overflow: auto;
    width: 90%;
    margin: 0 5%;
    background-color: #545659;
}

.tableDiv{
    height: 400px;
    overflow: auto;
    width: 90%;
    margin: 0 5%;
    background-color: #545659;
}

.tableMain{
    width: 100%;

}

th{
    height: 60px;
    font-size: 20px;
}

td{
    height: 30px;
    font-size: 16px;
}

.tableMain tbody tr:nth-child(odd) {background-color: #444444;}

.addingTableRow{
    visibility: collapse;
}

.alertBoxSuccess{
    height: 60px;
    width: 400px;
    position: absolute;
    top: 10px;
    left: 485px;
    background-color: darkgreen;
}

.alertText{
    font-size: 24pt;
    text-align: center;
    margin: auto;
    padding: 5px;
}

.editDiv{
    background-color: #545659;
    height: 250px;
    width: 50%;
    margin: 0 25%;
}

.tableEdit{
    width: 100%;
    margin: auto;
}

.tableEdit input, select {
    width: 250px;
}

.submitButton{
    width: 80px;
    height: 30px;
    font-size: 16pt;
    margin-top: 30px;
}

.extraButtonsConcerts{
    position: absolute;
    top: 125px;
    right: 350px;
}

.extraMenuButton{
    font-size: 16px;
    display: block;
    width: 200px;
    padding: 10px;
    margin: 5px;
    background-color: #53565b;
    cursor: pointer;
}

.addIcon{
    cursor: pointer;
}

.bandSelect{
    width: 60px;
}

.bottom{
    margin: 20px 0 0 50px;
}
